.git
.mixin.out
crash-reports
defaultconfigs
downloads
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
.curseclient
.minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
usercache.json
usernamecache.json
